body {
	color: black;
    background-color: floralwhite;
    font-size: 100%;
}

h1 {
    color: green;
    font-size: 5vw;
    text-align: center;
    border-style: groove;
    font-family: cursive;
    border-width: 0.625vw;
    background-color: beige;
    border-radius: 6.25vw;
    padding: 0.0625vw;
    border-color: lightgoldenrodyellow;
    font-variant: small-caps;
}

#InfoZooTitle {
    text-decoration: underline;
    text-shadow: 0.1875vw 0.125vw lightgreen;
}

#InfoZooTitle:hover {
    color: red;
}

h3 {
    text-align: center;
    
        
}

#YouSelected {
    text-align: center;
    font-style: italic;
    
}


#logo {
    position: absolute;
    top: 0.4em;
    left: 0.8em;
}

#logo2 {
     position: absolute;
    top: 0.4em;
    right: 0.8em;
}

.fa-paw {
   color: green;
    font-size: 5vw; 
}

#title {
    position: relative;
    
}

#selectAnAnimal {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    font-size: 2em;
}

#AnimalList {
    align-content: center;
    text-align: center;
    font-size: 1em;
    
}

#selectionSection {
    position: relative;
    background-color: lemonchiffon;
    display: inline-grid;
    padding: 1em;
    border-style: groove;
    text-align: center;
}









